In [1]:
library(data.table)
library(stringr)
library(dplyr)

Attache Paket: ‘dplyr’


Die folgenden Objekte sind maskiert von ‘package:data.table’:

    between, first, last


Die folgenden Objekte sind maskiert von ‘package:stats’:

    filter, lag


Die folgenden Objekte sind maskiert von ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
# get variant information
# preprocessing
variant <- read.table("output/DNA__Exome_Seq_none.txt", skip = 13, sep = "\t", fill = TRUE)   
variant <- variant[,-77]
colnames <- "BR:MCF7	BR:MDA-MB-231	BR:HS 578T	BR:BT-549	BR:T-47D	CNS:SF-268	CNS:SF-295	CNS:SF-539	CNS:SNB-19	CNS:SNB-75	CNS:U251	CO:COLO 205	CO:HCC-2998	CO:HCT-116	CO:HCT-15	CO:HT29	CO:KM12	CO:SW-620	LE:CCRF-CEM	LE:HL-60(TB)	LE:K-562	LE:MOLT-4	LE:RPMI-8226	LE:SR	ME:LOX IMVI	ME:MALME-3M	ME:M14	ME:SK-MEL-2	ME:SK-MEL-28	ME:SK-MEL-5	ME:UACC-257	ME:UACC-62	ME:MDA-MB-435	ME:MDA-N	LC:A549/ATCC	LC:EKVX	LC:HOP-62	LC:HOP-92	LC:NCI-H226	LC:NCI-H23	LC:NCI-H322M	LC:NCI-H460	LC:NCI-H522	OV:IGROV1	OV:OVCAR-3	OV:OVCAR-4	OV:OVCAR-5	OV:OVCAR-8	OV:SK-OV-3	OV:NCI/ADR-RES	PR:PC-3	PR:DU-145	RE:786-0	RE:A498	RE:ACHN	RE:CAKI-1	RE:RXF 393	RE:SN12C	RE:TK-10	RE:UO-31"
colname <- strsplit(colnames, split = "\t", fixed = TRUE)
colnames(variant)[17:76] <- colname[[1]]
colnames(variant)[1:16] <-  variant[1,][1:16]
variant <- variant[-1,]
variant_meta <- variant[,c(1:6,8,13)]
rownames(variant_meta) <- 1:nrow(variant_meta)
colnames(variant_meta) <- c("Identifier", "gene_name", 'geneID', 'Chromosome', "Start", "End", 'dbSNPid', "snpType")
head(variant_meta)
write.table(variant_meta, "variant.csv", row.names = FALSE)

  Identifier       gene_name geneID Chromosome Start  End    dbSNPid
1 chr1:865628_G_A  SAMD11    148398 1          865628 865628 rs41285790
2 chr1:871199_G_A  SAMD11    148398 1          871199 871199 -
3 chr1:874788_C_G  SAMD11    148398 1          874788 874788 -
4 chr1:874816_*_+T SAMD11    148398 1          874816 874816 -
5 chr1:876499_A_G  SAMD11    148398 1          876499 876499 rs4372192
6 chr1:877831_T_C  SAMD11    148398 1          877831 877831 rs6672356
  snpType
1 Missense
2 Missense
3 Missense
4 Frameshift
5 Intronic
6 Missense

In [3]:
head(variant)

  Identifier (c)   Gene name (d) Entrez gene id (e) Chromosome (f) Start (f)
2 chr1:865628_G_A  SAMD11        148398             1              865628
3 chr1:871199_G_A  SAMD11        148398             1              871199
4 chr1:874788_C_G  SAMD11        148398             1              874788
5 chr1:874816_*_+T SAMD11        148398             1              874816
6 chr1:876499_A_G  SAMD11        148398             1              876499
7 chr1:877831_T_C  SAMD11        148398             1              877831
  End (f) Cytoband (f) dbSNP id (g) AA Impact (h) 1000 Genome (i) ⋯ PR:PC-3
2 865628  1p36.33      rs41285790   G56S          0.003           ⋯ 0
3 871199  1p36.33      -            R118H         0               ⋯ 0
4 874788  1p36.33      -            S218R         0               ⋯ 0
5 874816  1p36.33      -            P228fs        0.02            ⋯ 0
6 876499  1p36.33      rs4372192    -             0.92            ⋯ 0
7 877831  1p36.33      rs6672356    W343R         1               ⋯ 0
  PR:DU-145 RE:786-0 RE:A498 RE:ACHN RE:CAKI-1 RE:RXF 393 RE:SN12C RE:TK-10
2 0           0      0       0       0          0.000     85.714     0
3 0           0      0       0       0          0.000      0.000     0
4 0           0      0       0       0          0.000      0.000     0
5 0           0      0       0       0          0.000      0.000     0
6 0         100      0       0       0         51.852      0.000   100
7 0         100      0       0       0          0.000      0.000   100
  RE:UO-31
2   0
3   0
4   0
5   0
6 100
7   0

In [4]:
table(variant_meta$`snpType`)

                          3-UTR           5-UTR      Downstream      Frameshift
            102            2369            1611             127            1005
Initiation_loss      Intergenic        Intronic        Missense       Noncoding
             80             174           36928           53579            1274
  Nonframeshift        Nonsense    Read_through          Silent        Splicing
            472            2074              68           39280             800
       Upstream
            228

In [5]:
variant[variant$`Gene name (d)` =="BASP1",]
# not present in MOLT-4

      Identifier (c)    Gene name (d) Entrez gene id (e) Chromosome (f)
38999 chr5:17275364_T_C BASP1         10409              5
      Start (f) End (f)  Cytoband (f) dbSNP id (g) AA Impact (h)
38999 17275364  17275364 5p15.1       rs73756114   N13N
      1000 Genome (i) ⋯ PR:PC-3 PR:DU-145 RE:786-0 RE:A498 RE:ACHN RE:CAKI-1
38999 0.01            ⋯ 0       0         0        0       0       0
      RE:RXF 393 RE:SN12C RE:TK-10 RE:UO-31
38999 0          0        0        0

      Identifier (c)     Gene name (d) Entrez gene id (e) Chromosome (f)
87122 chr12:81205466_A_C LIN7A         8825               12
87123 chr12:81242042_C_T LIN7A         8825               12
      Start (f) End (f)  Cytoband (f) dbSNP id (g) AA Impact (h)
87122 81205466  81205466 12q21        -            -
87123 81242042  81242042 12q21        -            R87R
      1000 Genome (i) ESP5400 (j) SIFT Score (k) SNP Type (l)
87122 0               0           -1             Intronic
87123 0               0.00009     -1             Silent

In [6]:
variant_meta <- fread("variant.csv")
# extract rare variants of the following classes: missense, stop, frameshift, splice
variant_meta <- variant_meta[variant_meta$snpType %in% c('Missense' , 'Nonsense', 'Splicing', 'Frameshift'),]
#
# extract then the meta data
# here alt and ref should be reverse
variant_meta$ref <- lapply(variant_meta$Identifier, function(x){
    strsplit(x, split = "_", fixed = TRUE)[[1]][2]
})
variant_meta$ref <- as.character(variant_meta$ref)
variant_meta$alt <- lapply(variant_meta$Identifier, function(x){
    strsplit(x, split = "_", fixed = TRUE)[[1]][3]
})
variant_meta$alt <- as.character(variant_meta$alt)
head(variant_meta)

  Identifier       gene_name geneID Chromosome Start  End    dbSNPid
1 chr1:865628_G_A  SAMD11    148398 1          865628 865628 rs41285790
2 chr1:871199_G_A  SAMD11    148398 1          871199 871199 -
3 chr1:874788_C_G  SAMD11    148398 1          874788 874788 -
4 chr1:874816_*_+T SAMD11    148398 1          874816 874816 -
5 chr1:877831_T_C  SAMD11    148398 1          877831 877831 rs6672356
6 chr1:878331_C_T  SAMD11    148398 1          878331 878331 rs148327885
  snpType    ref alt
1 Missense   G   A
2 Missense   G   A
3 Missense   C   G
4 Frameshift *   +T
5 Missense   T   C
6 Missense   C   T

In [7]:
files <- list.files(path = ".",pattern = ".vcf")
print(files)
temp <- lapply(files, fread)
vcfs <- rbindlist( temp )
vcfs[vcfs$INFO=='.',]$INFO <- "AF=0.0001"
vcfs$INFO <- gsub("AF=",'',vcfs$INFO)
vcfs$INFO <- as.numeric(vcfs$INFO)
head(vcfs)
nrow(vcfs)

 [1] "chr1.vcf"  "chr10.vcf" "chr11.vcf" "chr12.vcf" "chr13.vcf" "chr14.vcf"
 [7] "chr15.vcf" "chr16.vcf" "chr17.vcf" "chr18.vcf" "chr19.vcf" "chr2.vcf"
[13] "chr20.vcf" "chr21.vcf" "chr22.vcf" "chr3.vcf"  "chr4.vcf"  "chr5.vcf"
[19] "chr6.vcf"  "chr7.vcf"  "chr8.vcf"  "chr9.vcf"  "chrX.vcf"  "chrY.vcf"

  #CHROM POS   ID           REF ALT INFO
1 1      12198 rs62635282   G   C   1e-04
2 1      12237 rs1324090652 G   A   1e-04
3 1      12259 rs1330604035 G   C   0e+00
4 1      12266 rs1442951560 G   A   1e-04
5 1      12272 rs1281272113 G   A   0e+00
6 1      12554 rs1371050997 A   G   0e+00

[1] 17209972

In [8]:
variant_meta_copy <- variant_meta
# try to find more gene names if possible
nomatched = 0
for (i in 1:(nrow(variant_meta))){
    row <- variant_meta[i,]
    id <- row$Identifier[1]
    gene_name <- row$gene_name[1]
    if (gene_name=='-'){
        pos <- which(variant_meta$Identifier == id)
        pos_before <- variant_meta[pos-1,]
        pos_after <- variant_meta[pos+1,]
        if (pos_before$gene_name[1] =='-' | pos_before$gene_name[1] != pos_after$gene_name[1]){
            nomatched <- nomatched +1
        }
        else{
           #print(pos_before$gene_name[1])
            variant_meta[i,]$gene_name = pos_after$gene_name[1]
            print(i)
            
        }
    }
}
nomatched

[1] 11482
[1] 12661
[1] 13291
[1] 22744
[1] 23834
[1] 26167
[1] 26751
[1] 32168
[1] 33835
[1] 39762
[1] 40915
[1] 48908

[1] 320

In [9]:
rs_matched <- merge(variant_meta, vcfs, by.x=c("dbSNPid"), by.y=c('ID'))
rs_matched$AF <- apply(rs_matched,1, function(x){
    if(x[9]==x[13]){
        return(as.numeric(x[15]))
    }
    if(x[10]==x[14]){
        return(as.numeric(x[15]))
    }
    if(x[10]==x[13]){
        return(1-as.numeric(x[15]))
        print(x)
    }
    if(x[9]==x[14]){
        return(1-as.numeric(x[15]))
        print(x)
    }
    else{
        return(0.00001)
    }
})

In [10]:
head(rs_matched)
nrow(rs_matched)

  dbSNPid    Identifier         gene_name geneID Chromosome Start     End
1 rs10000692 chr4:122078317_T_C TNIP3      79931 4          122078317 122078317
2 rs10001580 chr4:37851856_A_C  PGM2       55276 4           37851856  37851856
3 rs10004    chr6:7310259_A_G   SSR1        6745 6            7310259   7310259
4 rs10007352 chr4:10447679_C_T  ZNF518B    85460 4           10447679  10447679
5 rs10008444 chr4:48492434_G_C  ZAR1      326340 4           48492434  48492434
6 rs10008444 chr4:48492434_G_C  ZAR1      326340 4           48492434  48492434
  snpType  ref alt #CHROM POS       REF ALT                  INFO
1 Missense T   C   4      122078317 T   C                    1.19879e-05
2 Missense A   C   4       37851856 A   C                    6.04965e-02
3 Missense A   G   6        7310259 A   G                    2.42591e-01
4 Missense C   T   4       10447679 C   T                    4.44011e-02
5 Missense G   C   4       48492434 G   C                    9.98545e-01
6 Missense G   C   4       48492434 G   GCGGCAGGGGCTGGCAGCAC 1.02482e-05
  AF
1 1.19879e-05
2 6.04965e-02
3 2.42591e-01
4 4.44011e-02
5 9.98545e-01
6 1.02482e-05

[1] 33841

In [11]:
rs_matched_special <- rs_matched[startsWith(rs_matched$ref, "*") | startsWith(rs_matched$alt, "+") | startsWith(rs_matched$alt, "-"), ]
rs_matched_special$row = 1:nrow(rs_matched_special)
rs_matched_special <- rs_matched_special[c(2:4,7,9,12,16:18,20:23,24:25,27, 29:33, 35:37, 39),]
rs_matched_special <- rs_matched_special[,-17]
rs_matched_special$AF <- rs_matched_special$INFO
rs_matched_special <- rs_matched_special[rs_matched_special$AF < 0.01,]
rs_matched_special

  dbSNPid     Identifier          gene_name geneID Chromosome Start
1 rs113439845 chr3:97806299_*_-T  OR5AC2     81050 3           97806299
2 rs151293806 chr19:57665822_*_-G DUXA      503835 19          57665822
3 rs41303343  chr7:99250394_*_+A  CYP3A5      1577 7           99250394
4 rs45449493  chr5:122365083_*_-C PPIC        5480 5          122365083
5 rs58396798  chr12:55820903_*_+T OR6C76    390326 12          55820903
6 rs60187078  chr7:99711873_*_-C  TAF6        6878 7           99711873
  End       snpType    ref alt #CHROM POS       REF ALT INFO       AF
1  97806299 Frameshift *   -T  3       97806298 AT  A   0.00542950 0.00542950
2  57665822 Frameshift *   -G  19      57665821 AG  A   0.00414446 0.00414446
3  99250394 Frameshift *   +A  7       99250393 T   TA  0.00731396 0.00731396
4 122365083 Frameshift *   -C  5      122365082 TC  T   0.00505766 0.00505766
5  55820903 Frameshift *   +T  12      55820902 C   CT  0.00756375 0.00756375
6  99711873 Frameshift *   -C  7       99711868 GC  G   0.00585808 0.00585808

In [12]:
rs_matched_filtered <- rs_matched[!rs_matched$Identifier %in% rs_matched_special$Identifier, ]
rs_matched_rare <- rs_matched_filtered[rs_matched_filtered$AF<0.01,]
rs_matched_rare <- rbind(rs_matched_rare, rs_matched_special)
nrow(rs_matched_rare)
head(rs_matched_rare)

[1] 16398

  dbSNPid    Identifier          gene_name geneID Chromosome Start
1 rs10000692 chr4:122078317_T_C  TNIP3      79931 4          122078317
2 rs10008444 chr4:48492434_G_C   ZAR1      326340 4           48492434
3 rs10008444 chr4:48492434_G_C   ZAR1      326340 4           48492434
4 rs1000952  chr3:183755822_G_A  HTR3D     200909 3          183755822
5 rs1000952  chr3:183755822_G_A  HTR3D     200909 3          183755822
6 rs1001178  chr12:122691045_T_A B3GNT4     79369 12         122691045
  End       snpType  ref alt #CHROM POS       REF ALT
1 122078317 Missense T   C   4      122078317 T   C
2  48492434 Missense G   C   4       48492434 G   GCGGCAGGGGCTGGCAGCAC
3  48492434 Missense G   C   4       48492434 G   GGCGGCAGCTGGCAGCAC
4 183755822 Missense G   A   3      183755822 G   GGTGCAGGCA
5 183755822 Missense G   A   3      183755822 G   T
6 122691045 Missense T   A   12     122691045 T   C
  INFO        AF
1 1.19879e-05 1.19879e-05
2 1.02482e-05 1.02482e-05
3 3.07446e-05 3.07446e-05
4 3.58394e-05 3.58394e-05
5 3.98216e-06 3.98216e-06
6 1.98842e-05 1.98842e-05

In [13]:
rs_matched_rare <- rs_matched_rare[!duplicated(rs_matched_rare$Identifier),]
head(rs_matched_rare)
nrow(rs_matched_rare)

  dbSNPid    Identifier          gene_name geneID Chromosome Start
1 rs10000692 chr4:122078317_T_C  TNIP3      79931 4          122078317
2 rs10008444 chr4:48492434_G_C   ZAR1      326340 4           48492434
3 rs1000952  chr3:183755822_G_A  HTR3D     200909 3          183755822
4 rs1001178  chr12:122691045_T_A B3GNT4     79369 12         122691045
5 rs10014170 chr4:40104051_A_G   N4BP2      55728 4           40104051
6 rs10016702 chr4:10447640_A_G   ZNF518B    85460 4           10447640
  End       snpType  ref alt #CHROM POS       REF ALT
1 122078317 Missense T   C   4      122078317 T   C
2  48492434 Missense G   C   4       48492434 G   GCGGCAGGGGCTGGCAGCAC
3 183755822 Missense G   A   3      183755822 G   GGTGCAGGCA
4 122691045 Missense T   A   12     122691045 T   C
5  40104051 Missense A   G   4       40104051 A   G
6  10447640 Missense A   G   4       10447640 A   T
  INFO        AF
1 1.19879e-05 1.19879e-05
2 1.02482e-05 1.02482e-05
3 3.58394e-05 3.58394e-05
4 1.98842e-05 1.98842e-05
5 7.65804e-03 7.65804e-03
6 3.98000e-06 3.98000e-06

[1] 13747

In [14]:
rs_matched_rare_nogene <- rs_matched_rare[rs_matched_rare$gene_name=='-',]
nrow(rs_matched_rare_nogene)
rs_matched_rare_gene <- rs_matched_rare[rs_matched_rare$gene_name!='-',]
nrow(rs_matched_rare_gene)

[1] 95

[1] 13652

In [15]:
pos_matched <- merge(variant_meta[!variant_meta$Identifier %in% rs_matched$Identifier], vcfs, 
                     by.x = c("Chromosome", 'Start'), by.y = c("#CHROM", 'POS'))
pos_matched$dbSNPid <- pos_matched$ID
pos_matched$AF <- apply(pos_matched, 1, function(x){
    if(x[9]==x[12]){
        return(as.numeric(x[14]))
    }
    if(x[10]==x[13]){
        return(as.numeric(x[14]))
    }
    if(x[13]==x[9]){
        return(1-as.numeric(x[14]))
    }
    if(x[10]==x[12]){
        return(1-as.numeric(x[14]))
    }
    else{
        return(0.00001)
    }
})

head(pos_matched)
nrow(pos_matched)

  Chromosome Start  Identifier       gene_name geneID End    dbSNPid
1 1          871199 chr1:871199_G_A  SAMD11    148398 871199 rs756140787
2 1          871199 chr1:871199_G_A  SAMD11    148398 871199 rs756140787
3 1          874816 chr1:874816_*_+T SAMD11    148398 874816 rs200996316
4 1          874816 chr1:874816_*_+T SAMD11    148398 874816 rs200996316
5 1          874816 chr1:874816_*_+T SAMD11    148398 874816 rs200996316
6 1          874816 chr1:874816_*_+T SAMD11    148398 874816 rs200996316
  snpType    ref alt ID
1 Missense   G   A   rs756140787
2 Missense   G   A   rs756140787
3 Frameshift *   +T  rs200996316
4 Frameshift *   +T  rs200996316
5 Frameshift *   +T  rs200996316
6 Frameshift *   +T  rs200996316
  REF
1 G
2 G
3 C
4 C
5 C
6 CCCCCTCATCACCTCCCCAGCCACGGTGAGGACCCACCCTGGCATGATCT
  ALT
1 A
2 T
3 CCCCCTCATCACCTCCCCAGCCACGGTGAGGACCCACCCTGGCATGATCCCCCTCATCACCTCCCCAGCCACGGTGAGGACCCACCCTGGCATGATCT
4 CCCCCTCATCACCTCCCCAGCCACGGTGAGGACCCACCCTGGCATGATCT
5 CT
6 C
  INFO        AF
1 3.58449e-05 3.58449e-05
2 7.96553e-06 7.96553e-06
3 4.16396e-06 1.00000e-05
4 3.78920e-04 1.00000e-05
5 2.37346e-04 1.00000e-05
6 1.12427e-03 1.00000e-05

[1] 15318

In [16]:
pos_matched_special <- pos_matched[startsWith(pos_matched$ref, "*") | startsWith(pos_matched$alt, "+") | startsWith(pos_matched$alt, "-"), ]
pos_matched_filtered <- pos_matched[!pos_matched$Identifier %in% pos_matched_special$Identifier, ]

In [17]:
pos_matched_special_before <- unique(pos_matched_special$Identifier)
pos_matched_special <- pos_matched_special %>% 
  filter( !(REF %in% c("G", "C", "T", "A") & ALT %in% c("G", "C", "T", "A")))
pos_matched_special_ids <- unique(pos_matched_special$Identifier)
length(unique(pos_matched_special$Identifier))
pos_matched_special[pos_matched_special $INFO >0.01,]
pos_matched_special_notrare <- c("chr1:40981245_*_+G", 'chr10:118215310_*_+A', "chr19:1004896_*_+CGTT", "chr19:37879852_*_+TGTG", "chr2:158958551_*_+A",
 "chr20:126310_*_-AC", "chr3:149238595_*_+TTAA")
pos_matched_special <- pos_matched_special[!pos_matched_special$Identifier %in% pos_matched_special_notrare, ]
nrow(pos_matched_special)

[1] 68

  Chromosome Start     Identifier             gene_name geneID End
1 1            1887091 chr1:1887091_*_-C      C1orf222  339457   1887091
2 1           40981245 chr1:40981245_*_+G     EXO5       64789  40981245
3 1           54605319 chr1:54605319_*_+CG    CDCP2     200008  54605319
4 19          37879852 chr19:37879852_*_+TGTG ZNF527     84503  37879852
5 20            126310 chr20:126310_*_-AC     DEFB126    81623    126311
6 3          149238595 chr3:149238595_*_+TTAA WWTR1      25937 149238595
  dbSNPid     snpType    ref alt   ID          REF ALT   INFO      AF
1 rs774261814 Frameshift *   -C    rs774261814 CG  C     0.1776260 1e-05
2 rs150018949 Frameshift *   +G    rs150018949 C   CG    0.0127079 1e-05
3 rs36013100  Frameshift *   +CG   rs36013100  G   GC    0.7021450 1e-05
4 rs376931538 Frameshift *   +TGTG rs376931538 C   CTGTG 0.0337805 1e-05
5 rs111739970 Frameshift *   -AC   rs111739970 ACC A     0.5522220 1e-05
6 rs34351019  Nonsense   *   +TTAA rs34351019  C   CTTAA 0.0929217 1e-05

[1] 80

In [18]:
length(intersect(pos_matched_special_before, pos_matched_special_ids))

[1] 68

In [19]:
pos_matched_rare <- pos_matched_filtered[pos_matched_filtered$AF <0.01,]
pos_matched_rare <- rbind(pos_matched_rare, pos_matched_special)
nrow(pos_matched_rare)
head(pos_matched_rare)

[1] 14313

  Chromosome Start  Identifier      gene_name geneID End    dbSNPid
1 1          871199 chr1:871199_G_A SAMD11    148398 871199 rs756140787
2 1          871199 chr1:871199_G_A SAMD11    148398 871199 rs756140787
3 1          879391 chr1:879391_G_A SAMD11    148398 879391 rs369456516
4 1          896816 chr1:896816_G_A KLHL17    339451 896816 rs1474892152
5 1          908958 chr1:908958_G_A PLEKHN1    84069 908958 rs1349045521
6 1          909723 chr1:909723_G_A PLEKHN1    84069 909723 rs752461073
  snpType  ref alt ID           REF ALT INFO        AF
1 Missense G   A   rs756140787  G   A   3.58449e-05 3.58449e-05
2 Missense G   A   rs756140787  G   T   7.96553e-06 7.96553e-06
3 Missense G   A   rs369456516  G   A   8.04978e-05 8.04978e-05
4 Missense G   A   rs1474892152 G   A   4.17286e-06 4.17286e-06
5 Missense G   A   rs1349045521 G   A   1.20211e-05 1.20211e-05
6 Missense G   A   rs752461073  G   A   9.97869e-05 9.97869e-05

In [20]:
#pos_matched_rare <- pos_matched_rare[,c(3,4,7)]
pos_matched_rare <- pos_matched_rare[!duplicated(pos_matched_rare$Identifier),]
nrow(pos_matched_rare)
head(pos_matched_rare)

[1] 12227

  Chromosome Start  Identifier      gene_name geneID End    dbSNPid
1 1          871199 chr1:871199_G_A SAMD11    148398 871199 rs756140787
2 1          879391 chr1:879391_G_A SAMD11    148398 879391 rs369456516
3 1          896816 chr1:896816_G_A KLHL17    339451 896816 rs1474892152
4 1          908958 chr1:908958_G_A PLEKHN1    84069 908958 rs1349045521
5 1          909723 chr1:909723_G_A PLEKHN1    84069 909723 rs752461073
6 1          949478 chr1:949478_G_A ISG15       9636 949478 rs201238613
  snpType  ref alt ID           REF ALT INFO        AF
1 Missense G   A   rs756140787  G   A   3.58449e-05 3.58449e-05
2 Missense G   A   rs369456516  G   A   8.04978e-05 8.04978e-05
3 Missense G   A   rs1474892152 G   A   4.17286e-06 4.17286e-06
4 Missense G   A   rs1349045521 G   A   1.20211e-05 1.20211e-05
5 Missense G   A   rs752461073  G   A   9.97869e-05 9.97869e-05
6 Missense G   A   rs201238613  G   A   2.39479e-05 2.39479e-05

In [21]:
pos_matched_rare_nogene <- pos_matched_rare[pos_matched_rare$gene_name=='-',]
pos_matched_rare_gene <- pos_matched_rare[pos_matched_rare$gene_name!='-',]
nrow(pos_matched_rare_nogene)
nrow(pos_matched_rare_gene)

[1] 51

[1] 12176

In [22]:
#old ids mapped to the new ids
unique(pos_matched_rare_nogene$dbSNPid)

 [1] "rs200318618"  "rs45606732"   "rs373855079"  "rs780118642"  "rs369311018"
 [6] "rs199816295"  "rs752753802"  "rs372027293"  "rs774001128"  "rs776925459"
[11] "rs1367868848" "rs1249562451" "rs755094258"  "rs749947758"  "rs760597072"
[16] "rs761422114"  "rs756250058"  "rs61731919"   "rs1260237933" "rs1253583472"
[21] "rs768577818"  "rs201582547"  "rs1237539326" "rs200625323"  "rs747687070"
[26] "rs780225147"  "rs1488144097" "rs1167131093" "rs1470200189" "rs762703767"
[31] "rs373945186"  "rs759236870"  "rs1185740885" "rs1225035849" "rs371086562"
[36] "rs752968297"  "rs775046833"  "rs1316356710" "rs754619006"  "rs746545215"
[41] "rs540565542"  "rs563215458"  "rs961962373"  "rs765800071"  "rs374331982"
[46] "rs757679541"  "rs765372741"  "rs1441487644" "rs745463626"  "rs770965566"
[51] "rs188422825"

In [23]:
remain <- variant_meta[!variant_meta$Identifier %in% rs_matched$Identifier, ]
nrow(remain)
remain <- remain[!remain$Identifier %in% pos_matched$Identifier, ]
nrow(remain)

[1] 30286

[1] 17368

In [24]:
remain_nogene <- remain[remain$gene_name=='-',]
nrow(remain_nogene)
remain_gene <- remain[remain$gene_name!='-',]
nrow(remain_gene)

[1] 68

[1] 17300

In [25]:
head(remain_nogene[remain_nogene$dbSNPid=='-',])
nrow(remain_nogene[remain_nogene$dbSNPid=='-',])

  Identifier         gene_name geneID Chromosome Start     End       dbSNPid
1 chr1:75005934_T_G  -         0      1           75005934  75005934 -
2 chr1:155162039_C_A -         0      1          155162039 155162039 -
3 chr1:156212572_G_T -         0      1          156212572 156212572 -
4 chr2:18745293_G_C  -         0      2           18745293  18745293 -
5 chr2:48808233_A_T  -         0      2           48808233  48808233 -
6 chr2:48809206_G_T  -         0      2           48809206  48809206 -
  snpType  ref alt
1 Missense T   G
2 Missense C   A
3 Missense G   T
4 Nonsense G   C
5 Missense A   T
6 Missense G   T

[1] 67

In [26]:
withgene <- rbind(rs_matched_rare_gene[,c("dbSNPid", "Identifier", "gene_name", "snpType")],
                 pos_matched_rare_gene[,c("dbSNPid", "Identifier", "gene_name", "snpType")],
                 remain_gene[,c("dbSNPid", "Identifier", "gene_name", "snpType")])

In [27]:
nrow(withgene)
head(withgene)
length(unique(withgene$Identifier))

[1] 43128

  dbSNPid    Identifier          gene_name snpType
1 rs10000692 chr4:122078317_T_C  TNIP3     Missense
2 rs10008444 chr4:48492434_G_C   ZAR1      Missense
3 rs1000952  chr3:183755822_G_A  HTR3D     Missense
4 rs1001178  chr12:122691045_T_A B3GNT4    Missense
5 rs10014170 chr4:40104051_A_G   N4BP2     Missense
6 rs10016702 chr4:10447640_A_G   ZNF518B   Missense

[1] 43128

In [28]:
write.csv(withgene, "withgene.csv", row.names=FALSE, quote=FALSE)

In [29]:
without_gene <- rbind(rs_matched_rare_nogene[,c("dbSNPid", "Identifier", "gene_name", "snpType")],
                 pos_matched_rare_nogene[,c("dbSNPid", "Identifier", "gene_name", "snpType")],
                 remain_nogene[,c("dbSNPid", "Identifier", "gene_name", "snpType")])

In [30]:
head(without_gene)
nrow(without_gene)

  dbSNPid     Identifier         gene_name snpType
1 rs10265     chr7:139026152_T_G -         Missense
2 rs1052053   chr1:156202173_A_G -         Missense
3 rs10896517  chr11:56468561_A_G -         Missense
4 rs113336462 chrX:101970662_A_G -         Missense
5 rs114861534 chr9:112899430_C_T -         Missense
6 rs11540816  chr1:156206181_C_T -         Missense

[1] 214

In [31]:
without_gene_rsid <- unique(without_gene$dbSNPid)
length(without_gene_rsid)

[1] 148

In [32]:
write.csv(without_gene_rsid, "rsid.csv", row.names=FALSE, quote=FALSE)

In [33]:
head(without_gene[without_gene$dbSNPid=='-',])
nrow(without_gene[without_gene$dbSNPid=='-',])

  dbSNPid Identifier         gene_name snpType
1 -       chr1:75005934_T_G  -         Missense
2 -       chr1:155162039_C_A -         Missense
3 -       chr1:156212572_G_T -         Missense
4 -       chr2:18745293_G_C  -         Nonsense
5 -       chr2:48808233_A_T  -         Missense
6 -       chr2:48809206_G_T  -         Missense

[1] 67

In [34]:
withoutgene_vep <- fread("withoutgene_vep.txt")
withoutgene_vep <- withoutgene_vep[, c(1,2,6)]
colnames(withoutgene_vep) <- c("dbSNPid", "POS", "gene_symbol")
withoutgene_vep <- withoutgene_vep[!duplicated(withoutgene_vep),]
withoutgene_vep <- withoutgene_vep[withoutgene_vep $gene_symbol!='-',]
withoutgene_vep <- withoutgene_vep[!startsWith(withoutgene_vep$POS, "HG"),]
nrow(withoutgene_vep)
head(withoutgene_vep)

[1] 352

  dbSNPid     POS                 gene_symbol
1 rs200318618 1:74716374-74716374 TNNI3K
2 rs200318618 1:74716374-74716374 FPGT-TNNI3K
3 rs149949210 1:74819664-74819664 TNNI3K
4 rs149949210 1:74819664-74819664 FPGT-TNNI3K
5 rs149949210 1:74819664-74819664 RP11-439H8.4
6 rs76686923  1:74819748-74819748 TNNI3K

In [35]:
without_gene_annotated <- merge(without_gene, withoutgene_vep, all.x=TRUE)
without_gene_annotated <- without_gene_annotated[order(without_gene_annotated$Identifier),]
without_gene_annotated$gene_name <- without_gene_annotated$gene_symbol
without_gene_annotated <- without_gene_annotated[, -c(5,6)]
without_gene_annotated[is.na(without_gene_annotated)] <- '-'
head(without_gene_annotated)

  dbSNPid     Identifier         gene_name   snpType
1 -           chr10:22607063_G_A -           Missense
2 rs369311018 chr10:22607893_T_C BMI1        Missense
3 rs369311018 chr10:22607893_T_C COMMD3      Missense
4 rs369311018 chr10:22607893_T_C COMMD3-BMI1 Missense
5 -           chr10:22618232_G_A -           Missense
6 -           chr10:22618256_G_T -           Missense

In [36]:
head(without_gene_annotated[without_gene_annotated$gene_name=='-',])
nrow(without_gene_annotated[without_gene_annotated$gene_name=='-',])

  dbSNPid Identifier         gene_name snpType
1 -       chr10:22607063_G_A -         Missense
2 -       chr10:22618232_G_A -         Missense
3 -       chr10:22618256_G_T -         Missense
4 -       chr11:193788_G_T   -         Missense
5 -       chr11:194439_G_A   -         Missense
6 -       chr11:56143354_C_A -         Missense

[1] 67

In [37]:
self_annotate <- fread("self_annotate.csv")
self_annotate<- merge(self_annotate, without_gene_annotated)
self_annotate$gene_name <-  self_annotate$gene_symbol
self_annotate <- self_annotate[, -2]
head(self_annotate)
nrow(self_annotate)

  Identifier         dbSNPid gene_name   snpType
1 chr10:22607063_G_A -       COMMD3      Missense
2 chr10:22618232_G_A -       COMMD3      Missense
3 chr10:22618232_G_A -       COMMD3-BMI1 Missense
4 chr10:22618256_G_T -       COMMD3      Missense
5 chr10:22618256_G_T -       COMMD3-BMI1 Missense
6 chr11:193788_G_T   -       SCGB1C1     Missense

[1] 73

In [38]:
length(unique(without_gene$Identifier))
length(unique(self_annotate$Identifier))
length(unique(without_gene_annotated[without_gene_annotated$gene_name!='-',]$Identifier))

[1] 214

[1] 66

[1] 147

In [39]:
setdiff(unique(without_gene$Identifier), union(unique(self_annotate$Identifier), unique(without_gene_annotated[without_gene_annotated$gene_name!='-',]$Identifier)) )
#chr2:160673483_*_-A no gnomad variant info, remove

[1] "chr2:160673483_*_-A"

In [40]:
without_gene <- rbind(self_annotate, without_gene_annotated[without_gene_annotated$gene_name!='-',])
head(without_gene )
nrow(without_gene )

  Identifier         dbSNPid gene_name   snpType
1 chr10:22607063_G_A -       COMMD3      Missense
2 chr10:22618232_G_A -       COMMD3      Missense
3 chr10:22618232_G_A -       COMMD3-BMI1 Missense
4 chr10:22618256_G_T -       COMMD3      Missense
5 chr10:22618256_G_T -       COMMD3-BMI1 Missense
6 chr11:193788_G_T   -       SCGB1C1     Missense

[1] 425

In [42]:
rare_variant_list <- rbind(withgene, without_gene)
head(rare_variant_list )
nrow(rare_variant_list )

  dbSNPid    Identifier          gene_name snpType
1 rs10000692 chr4:122078317_T_C  TNIP3     Missense
2 rs10008444 chr4:48492434_G_C   ZAR1      Missense
3 rs1000952  chr3:183755822_G_A  HTR3D     Missense
4 rs1001178  chr12:122691045_T_A B3GNT4    Missense
5 rs10014170 chr4:40104051_A_G   N4BP2     Missense
6 rs10016702 chr4:10447640_A_G   ZNF518B   Missense

[1] 43553

In [43]:
# extract data for each cell line
variant_sample <- variant[,17:ncol(variant)]
variant_sample$Identifier <- variant$`Identifier (c)`
variant_sample <- variant_sample[variant_sample$Identifier %in% unique(rare_variant_list$Identifier),]
nrow(variant_sample)
head(variant_sample)

[1] 43341

  BR:MCF7 BR:MDA-MB-231 BR:HS 578T BR:BT-549 BR:T-47D CNS:SF-268 CNS:SF-295
2 0       0             0          0         0        0          0
3 0       0             0          0         0        0          0
4 0       0             0          0         0        0          0
5 0       0             0          0         0        0          0
7 0       0             0          0         0        0          0
9 0       0             0          0         0        0          0
  CNS:SF-539 CNS:SNB-19 CNS:SNB-75 ⋯ PR:DU-145 RE:786-0 RE:A498 RE:ACHN
2  0.000     0          0          ⋯ 0           0      0       0
3  0.000     0          0          ⋯ 0           0      0       0
4  0.000     0          0          ⋯ 0           0      0       0
5  0.000     0          0          ⋯ 0           0      0       0
7  0.000     0          0          ⋯ 0         100      0       0
9 66.667     0          0          ⋯ 0           0      0       0
  RE:CAKI-1 RE:RXF 393 RE:SN12C RE:TK-10 RE:UO-31 Identifier
2 0         0          85.714     0      0        chr1:865628_G_A
3 0         0           0.000     0      0        chr1:871199_G_A
4 0         0           0.000     0      0        chr1:874788_C_G
5 0         0           0.000     0      0        chr1:874816_*_+T
7 0         0           0.000   100      0        chr1:877831_T_C
9 0         0           0.000     0      0        chr1:878331_C_T

In [44]:
# use cutoff on the variant allele frequency to define presence of a variant in a given sample (start with > 0)
variant_sample <- melt(variant_sample, variable.name = "sampleID", value.name = "frequency")
variant_sample <- variant_sample[variant_sample$frequency > 0,]
variant_sample <- variant_sample[,-3]
head(variant_sample)
nrow(variant_sample)

Warning message in melt(variant_sample, variable.name = "sampleID", value.name = "frequency"):
“The melt generic in data.table has been passed a data.frame and will attempt to redirect to the relevant reshape2 method; please note that reshape2 is deprecated, and this redirection is now deprecated as well. To continue using melt methods from reshape2 while both libraries are attached, e.g. melt.list, you can prepend the namespace like reshape2::melt(variant_sample). In the next version, this warning will become an error.”
Using Identifier as id variables

    Identifier       sampleID
32  chr1:1120431_G_A BR:MCF7
49  chr1:1269554_T_C BR:MCF7
67  chr1:1558792_T_C BR:MCF7
72  chr1:1686040_G_T BR:MCF7
100 chr1:2461313_C_T BR:MCF7
113 chr1:3328358_T_C BR:MCF7

[1] 112838

In [45]:
length(unique(variant_sample$Identifier))

[1] 43341

In [46]:
variant_sample_maf <- merge(variant_sample, rare_variant_list)
head(variant_sample_maf)
nrow(variant_sample_maf)
length(unique(variant_sample_maf$Identifier))

  Identifier          sampleID    dbSNPid     gene_name snpType
1 chr10:100010849_G_A ME:SK-MEL-2 rs770272930 LOXL4     Missense
2 chr10:100013418_T_G ME:SK-MEL-2 rs148260647 LOXL4     Missense
3 chr10:100020867_C_A CO:HCT-15   -           LOXL4     Missense
4 chr10:100021911_C_T BR:MCF7     rs139735732 LOXL4     Missense
5 chr10:100167409_A_C CO:HCC-2998 -           PYROXD2   Missense
6 chr10:100183570_G_C ME:SK-MEL-5 rs2296434   HPS1      Missense

[1] 113641

[1] 43341

In [47]:
write.csv(variant_sample_maf, "insample.csv", row.names=FALSE,quote=FALSE)